.App {
  background-color: brown;
  height: 100%;
  width: 100%;
}

.pokedex {
  background-color: red;
  height: 600px;
  width: 400px;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
}

.detalle-pokemon {
  display: flex;
}

.imagen {
  flex: 1;
}

.stats {
  flex: 1;

}

.imagen {
  width: 100px;
  border: 2px solid black;
  border-radius: 8px;
  margin: 10px;
  background-color: antiquewhite;
}
.info {
  background-color: rgb(181, 185, 175);
  padding: 10px;
  border-radius: 8px;
  border: 10px solid grey;


}


.boton{
  border-radius: 8px;
  margin: 20px 3px;
  padding: 10px 15px;

}

.siguiente{
  background-color: yellow;
}

.anterior{
  background-color: rgb(0, 255, 0);
}

.buscar{
  border-radius: 8px;
  padding: 10px;
  width: 250px;
  background-color: rgb(204, 204, 0);
}

.buscar::placeholder{
  color: white;
}

.pokemon-stats{
  font-weight: 700;
}